flask
flask-cors
joblib
numpy
pandas
scikit-learn

sentence-transformers==2.2.2
transformers==4.35.0

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.0+cpu

PyPDF2
python-docx
gunicorn
